body {
  align-items: stretch;
  display: grid;
  justify-items: stretch;
}

footer,
header {
  background-color: #80a78b;
  color: #ffffff;
  padding: 0.25rem;
}

header {
  display: grid;
  justify-items: end;
}

.imageButton {
  align-items: center;
  display: grid;
  justify-content: center;
}

.imageButton img {
  display: flex;
  max-width: 100%;
}

.imageButton span {
  aspect-ratio: 1 / 1;
  display: grid;
  overflow: hidden;
  place-content: center;
}

.imageGrid {
  justify-content: center;
  display: grid;
  gap: 2vmin;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  padding: 2dvh 2vw;
}

main {
  align-items: center;
  display: grid;
  flex-grow: 1;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
}
